//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';

//border-right: 4px solid #3a67b7;
//border-right: 4px solid #3ab767;
//border-right: 4px solid #67b73a;
//border-right: 4px solid #b73a67;
//border-right: 4px solid #b7673a;

$book-primary-color: #673ab7;
$video-primary-color: #67b73a;
$game-primary-color: #3a67b7;
$cd-primary-color: #b7673a;
