<mat-toolbar>
    <button mat-icon-button (click)="back()">
        <mat-icon aria-label="Retour à la série">navigate_before</mat-icon>
    </button>
</mat-toolbar>

<div class="body-content">
    <h2>Editer {{ bookSerieFormService.serie.name }}</h2>

    <form [formGroup]="bookSerieFormService.serieForm" (ngSubmit)="bookSerieFormService.save()">
        <div>
            <mat-form-field>
                <mat-select formControlName="group" placeholder="Groupe">
                    <mat-option *ngFor="let group of bookSerieFormService.groups" [value]="group">{{ group }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input type="text" matInput placeholder="Nom" formControlName="name">
            </mat-form-field>
        </div>
        <div>
            {{ bookSerieFormService.serie.cover_internal_ref }}
        </div>
        <div>
            <img class="cover" src="{{ bookSerieFormService.serie.cover }}">
            <img class="cover" *ngIf="bookSerieFormService.file.uploaded" src="{{ bookSerieFormService.file.url }}">
        </div>
        <div>
            <button (click)="fileInput.click()" type="button">
                <mat-icon>library_add</mat-icon>
                <span>Modifier la couverture</span>
                <input #fileInput type="file" accept="image/*" (change)="bookSerieFormService.detectFiles($event)" style="display:none;" />
            </button>
        </div>
        <div>
            <button mat-raised-button color="accent" [disabled]="bookSerieFormService.serieForm.invalid || bookSerieFormService.file.isUploading && !bookSerieFormService.file.uploaded" type="submit">Enregistrer</button>
        </div>
    </form>
</div>
